{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "parserOpts": {
        "plugins": ["classProperties", ["decorators", { "decoratorsBeforeExport": false }]],
      },
    },
  },
  "plugins": ["@lwc/eslint-plugin-lwc"],
  "rules": {
    "@lwc/lwc/no-api-reassignments": "off",
  },
}
