{
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "apexInsertFinalNewline": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
