@import 'c/odDatatableCSSLibrary';

.btn-inside-table-row {
  --slds-c-button-line-height: none;
}

.enabled {
  opacity: 1;
  pointer-events: all;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
