.slds-modal__container.lg {
  max-width: 50vw;
  width: 50vw;
}

.slds-modal__container.xl {
  max-width: 70vw;
  width: 70vw;
}

.slds-modal__container.md {
  max-width: 40vw;
  width: 40vw;
  min-width: 40vw !important;
}

.modalBackdrops {
  width: 100vw;
}

.modalBackdropsBulkEdit {
  left: -15vw;
}

.modalBackdropsPropertyEditor {
  left: -5vw;
}

.slds-backdrop.onTopOfEverything {
  z-index: 9998;
}

.slds-modal.onTopOfEverything {
  z-index: 9999;
}

slds-modal.overFlowInitial .slds-modal__content {
  overflow: initial !important;
}

@media only screen and (max-width: 1800px) {
  .slds-modal__container.lg {
    max-width: 80vw;
    width: 80vw;
    margin: 0 !important;
  }

  .slds-modal__container.xl {
    max-width: 90vw;
    width: 90vw;
    margin: 0 !important;
  }
}
