.slds-modal__container {
	min-width: 70% !important;
}

#wrapper-body > .quick-actions-panel, 
#wrapper-body > .quick-actions-panel > .slds-modal__content,
.od-datatable-dropdown-open flowruntime-lwc-body {
  overflow-y: hidden !important;
}

.od-datatable td.slds-has-focus,
.od-datatable th.slds-has-focus {
  box-shadow: none !important;
}

.od-datatable tbody tr {
  height: 42px;
}

.od-datatable-horizontal-radio .slds-form-element__control .slds-radio, .slds-form-element__control .slds-checkbox {
  display: inline-block;
}

.sharedColumn .slds-form-element__control .slds-checkbox {
  margin-right: 2rem;
}

.configurator  lightning-datepicker .slds-form-element__help,
.od-datatable lightning-datepicker .slds-form-element__help {
  display: none;
}

.od-datatable .slds-rich-text-editor__output img {
  margin-bottom: 0;
}

.od-datatable .rowButton .slds-button {
  box-shadow: none;
  outline: none;
}
