.slds-modal__container {
	min-width: 70% !important;
}

#wrapper-body > .quick-actions-panel, 
#wrapper-body > .quick-actions-panel > .slds-modal__content,
.od-datatable-dropdown-open flowruntime-lwc-body {
  overflow-y: hidden !important;
}

.od-datatable td.slds-has-focus,
.od-datatable th.slds-has-focus {
  box-shadow: none !important;
}

.od-datatable-horizontal-radio .slds-form-element__control .slds-radio, .od-datatable .slds-form-element__control .slds-checkbox {
  display: inline-block;
  margin-right: 2rem;
}
